<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>idTracker | Home</title>
        <link rel="stylesheet" href="./assets/css/styles.css">
        <link rel="stylesheet" href="./assets/css/home.css">
    </head>
    <body>
        <header>
            <div class="header_container">
                <h1>ID Tracker</h1>
                <div class="header_container1">
                    <ul class="ul_container">
                        <li style="margin: 0 20px;"><a href="">Signup</a></li>
                        <li><a href="">Login</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </body>
</html>